<html ng-app="greenApp.course"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout">
<body>
<th:block layout:fragment="addon">
    <script src="/rest/js/controller/course.js"></script>
    <link rel="stylesheet" href="/resources/css/test/styles.css">
</th:block>
<th:block layout:fragment="content">
    <div id="container">
        <section class="create section-padding text-center">
            <div class="container">
                <div class="row">
                    <div id="main" class="col-md-6 col-md-offset-3" ng-controller="CreateCourseCtrl">
                        <h3>Please <span th:text="${message}">create</span> course</h3>
                        <form class="custom-form">
                            <div class="form-input-group">
                                <input ng-model="title" type="text" placeholder="Name of course" required>
                            </div>
                            <div class="form-input-group">
                                <input ng-model="description" type="text" placeholder="Description" required>
                            </div>
                            <button id="btnSub" ng-click="createCourse();$event.preventDefault()" type="button"
                                    class="btn-fill custom-form-btn" th:value="${message}">Create
                            </button>
                            <button type="submit" hidden></button>
                        </form>
                    </div>
                </div>
            </div>

            <h1>
                <div id="actionDone" class="col-lg-6 col-lg-offset-3 text-center"></div>
            </h1>
        </section>
    </div>
</th:block>
</body>
</html>