<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout">

<body>
<th:block layout:fragment="addon">
    <script src="/resources/js/userUpdateAdmin.js"></script>
    <link rel="stylesheet" href="/resources/css/test/styles.css">
</th:block>
<th:block layout:fragment="content">
    <section id="form-id" class="sign-up text-center">
        <input type="hidden" id="userid" value="${userid}">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <h3>Update your profile</h3>
                    <form id="signup-form" class="signup-form" method="POST" role="form">
                        <div class="row">
                            <label for="avatar-input" class="user-avatar" style="cursor: pointer">
                                <img src="http://placehold.it/150x150" alt="avatar" id="avatar">
                            </label>
                        </div>
                        <div class="form-input-group">
                            <i class="fa fa-envelope"></i><input id="inputEmail" type="email"
                                                                 placeholder="Enter your email" required>
                        </div>
                        <div class="form-input-group">
                            <i class="fa fa-user"></i><input id="inputName" type="text" placeholder="Enter your name"
                                                             required>
                        </div>
                        <select class="form-control form-input-group" id="role" name="role">
                            <option value="0">ROLE_UNACTIVE</option>
                            <option value="1">ROLE_STUDENT</option>
                            <option value="2">ROLE_TEACHER</option>
                            <option value="3">ROLE_ADMIN</option>
                        </select>
                        <div hidden>
                            <input type="file" id="avatar-input" name="file" multiple="multiple"
                                   accept="image/gif, image/jpeg, image/png"/>
                        </div>

                        <a href="/user/update/pass" class="btn-fill sign-up-btn">Update password</a>
                        <button id="btnSub" type="button" class="btn-fill sign-up-btn">Update</button>
                        <button type="submit" hidden></button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</th:block>
</body>
</html>